#hero{
    @include bg-cover;
    background-image: url('../../image/main-bg.png');
}
.hero {
    padding: 150px;
    padding-right: none;

    &__upper-txt {
        max-width: 285px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 40px;
        color: #fff;
    }

    &__mid-txt {
        max-width: 785px;
        font-weight: 600;
        font-size: 64px;
        line-height: 60px;
        color: #fff;
        margin-bottom: 60px;
    }
    
    &__more-link {
        @include more-btn;
    }
}

@media screen and (max-width: 670px) {
    .hero {
        padding: 0;
        padding-top: 250px;
        padding-bottom: 120px;
    
        &__upper-txt {
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 20px;
        }
    
        &__mid-txt {
            font-size: 40px;
            line-height: 46px;
            margin-bottom: 50px;
        }
    }
}